.background {
  height: 100vh;
}

.input-heading {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.input-section {
  text-align: center;
  height: 70vh;
}

.input-box {
  width: 30rem;
  min-width: 30rem;
}

.centered {
  display: grid;
  place-items: center;
}
